@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /*16px*/

:root {
  /* colors */

  --primary-50: #e69c99;
  --primary-100: #e08885;
  --primary-200: #db7470;
  --primary-300: #d6615c;
  --primary-400: #d14d47;
  --primary-500: #cc3933;
  --primary-600: #b8332e;
  --primary-700: #a32e29;
  --primary-800: #8f2824;
  --primary-900: #7a221f;

  --secondary-50: #f1b277;
  --secondary-100: #eea561;
  --secondary-200: #ec984a;
  --secondary-300: #e98b34;
  --secondary-400: #e98b34;
  --secondary-500: #e77e1d;
  --secondary-600: #d0711a;
  --secondary-700: #b96517;
  --secondary-800: #a25814;
  --secondary-900: #8b4c11;

  --accent-color: #052e45;
  --accent-light: #083854;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: "Rubik", Sans-Serif;
  --bodyFont: "Rubik", Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--white);
  --textColor: var(--grey-900);
  --borderRadius: 0.5rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1536px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: none;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--background-secondary-color);
  border-radius: var(borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  line-height: 1.5;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--background-color);
  border: 1px solid var(--grey-300);
  color: var(--text-color);
}
.form-input,
.form-select,
.form-btn {
  height: 35px;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.575rem 1.5rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  border: none;
  transition: var(--transition);
  font-size: 0.875rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
.btn-primary {
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--primary-500),
    var(--secondary-500)
  );
}

.btn-primary:hover {
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--primary-200),
    var(--secondary-200)
  );
}

.btn-accent {
  color: var(--white);
  background: var(--accent-color);
}

.btn-accent:hover {
  color: var(--white);
  background: var(--grey-600);
}
.btn-block {
  width: 100%;
}
.btn-icon {
  border: none;
  font-size: 1.3rem;
  color: var(--accent-color);
  background: transparent;
}
/* section */
.section {
  padding: 5rem 0;
  scroll-margin-top: 4rem;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.logo {
  width: 220px !important;
  height: 30px;
}
.back-link {
  color: var(--primary-500);
  text-transform: capitalize;
}
.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.modal-container {
  background: var(--white);
  width: 90vw;

  border-radius: var(--borderRadius);
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--red-dark);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
